In [15]:
import pandas as pd

In [18]:
# read a csv file which is either separated by common or space
df_csv = pd.read_csv("emp.csv")

In [19]:
df_csv

   eno     ename  depto
0    1      Amar     10
1    2    Pritam     20
2    3      Prem     10
3    4  PunnaRao     10
4    4     Rajiv     20

In [23]:
# read a csv file which is  separated by semi colon
df_semicol = pd.read_csv("emp1.csv",delimiter=';')

In [24]:
df_semicol

   eno     ename  depto
0    1      Amar     10
1    2    Pritam     20
2    3      Prem     10
3    4  PunnaRao     10
4    4     Rajiv     20

In [33]:
# read the data from header which starts from 2nd index
df_csv = pd.read_csv("emp.csv",header=2)

In [34]:
df_csv

   eno     ename  depto
0    1      Amar     10
1    2    Pritam     20
2    3      Prem     10
3    4  PunnaRao     10
4    4     Rajiv     20

In [51]:
# append/add column names in the dataframe ( since file doesn not have header) and save into another csv file
df_csv = pd.read_csv("emp.csv",names=['eno','ename','deptno'])
df_csv.to_csv("file_with_header.csv",index=False)

   eno     ename  deptno
0    1      Amar      10
1    2    Pritam      20
2    3      Prem      10
3    4  PunnaRao      10
4    4     Rajiv      20

In [60]:
df = pd.read_csv('emp.csv')

In [62]:
df

     eno               ename         doj    deptname
0   1001        Arjun Sharma  2022-01-15          HR
1   1002         Priya Patel  2023-03-22     Finance
2   1003          Ravi Kumar  2021-05-10          IT
3   1004         Sneha Gupta  2020-08-25   Marketing
4   1005          Anil Reddy  2024-02-13       Sales
5   1006          Neha Verma  2019-11-30  Operations
6   1007         Vijay Singh  2022-07-08          HR
7   1008         Ananya Iyer  2021-03-15     Finance
8   1009        Manish Joshi  2020-12-19          IT
9   1010         Simran Kaur  2023-01-11   Marketing
10  1011        Rajesh Mehta  2021-09-01       Sales
11  1012       Deepika Desai  2020-06-10  Operations
12  1013      Shivani Sharma  2022-09-13          HR
13  1014         Harish Nair  2023-04-01     Finance
14  1015         Komal Yadav  2021-11-23          IT
15  1016          Ajay Bhatt  2020-04-25   Marketing
16  1017         Pooja Malik  2022-02-28       Sales
17  1018        Raghav Joshi  2021-06-14  Operations
18  1019          Meera Nair  2020-09-17          HR
19  1020         Krishna Rao  2023-10-02     Finance
20  1021      Prakash Pillai  2022-12-11          HR
21  1022  Aishwarya Deshmukh  2021-07-25     Finance
22  1023          Vikas Soni  2020-11-15          IT
23  1024          Ritu Mehra  2023-05-20   Marketing
24  1025       Nitin Chauhan  2020-03-30       Sales
25  1026        Swati Kapoor  2021-10-05  Operations
26  1027       Harshit Kumar  2022-08-16          HR
27  1028       Kanika Thakur  2020-01-10     Finance
28  1029      Arvind Agarwal  2023-02-18          IT
29  1030         Divya Singh  2021-04-22   Marketing
30  1031        Akash Prasad  2020-06-05       Sales
31  1032          Geeta Rani  2022-09-07  Operations
32  1033         Suresh Jain  2021-12-01          HR
33  1034          Sonal Shah  2023-08-13     Finance
34  1035       Jayesh Bansal  2020-02-15          IT
35  1036        Shweta Yadav  2021-06-03   Marketing
36  1037      Rajendra Joshi  2023-11-19       Sales
37  1038        Kavita Mehta  2020-07-25  Operations
38  1039          Ajit Reddy  2022-04-18          HR
39  1040     Pratibha Sharma  2021-09-05     Finance
40  1041     Subodh Tripathi  2020-05-14          IT
41  1042        Sunita Gupta  2023-03-09   Marketing
42  1043        Arvind Kumar  2021-08-22       Sales
43  1044      Neeraj Agarwal  2020-02-19  Operations
44  1045        Pankaj Joshi  2022-06-10          HR
45  1046          Suman Iyer  2023-04-28     Finance
46  1047         Sunil Verma  2020-09-14          IT
47  1048       Meenal Pandey  2021-07-03   Marketing
48  1049          Manju Nair  2022-11-17       Sales
49  1050       Sandeep Yadav  2021-10-12  Operations

In [66]:
# I need the data from eno and ename
# SQL equivalent : select eno,ename from employees
columns = ['eno','ename']
df[columns]
# or
df[['eno','ename']]

     eno               ename
0   1001        Arjun Sharma
1   1002         Priya Patel
2   1003          Ravi Kumar
3   1004         Sneha Gupta
4   1005          Anil Reddy
5   1006          Neha Verma
6   1007         Vijay Singh
7   1008         Ananya Iyer
8   1009        Manish Joshi
9   1010         Simran Kaur
10  1011        Rajesh Mehta
11  1012       Deepika Desai
12  1013      Shivani Sharma
13  1014         Harish Nair
14  1015         Komal Yadav
15  1016          Ajay Bhatt
16  1017         Pooja Malik
17  1018        Raghav Joshi
18  1019          Meera Nair
19  1020         Krishna Rao
20  1021      Prakash Pillai
21  1022  Aishwarya Deshmukh
22  1023          Vikas Soni
23  1024          Ritu Mehra
24  1025       Nitin Chauhan
25  1026        Swati Kapoor
26  1027       Harshit Kumar
27  1028       Kanika Thakur
28  1029      Arvind Agarwal
29  1030         Divya Singh
30  1031        Akash Prasad
31  1032          Geeta Rani
32  1033         Suresh Jain
33  1034          Sonal Shah
34  1035       Jayesh Bansal
35  1036        Shweta Yadav
36  1037      Rajendra Joshi
37  1038        Kavita Mehta
38  1039          Ajit Reddy
39  1040     Pratibha Sharma
40  1041     Subodh Tripathi
41  1042        Sunita Gupta
42  1043        Arvind Kumar
43  1044      Neeraj Agarwal
44  1045        Pankaj Joshi
45  1046          Suman Iyer
46  1047         Sunil Verma
47  1048       Meenal Pandey
48  1049          Manju Nair
49  1050       Sandeep Yadav

In [70]:
# get the data from rown no 10 to 20
df_10rows = pd.read_csv('emp.csv',skiprows=10,nrows=10)

In [71]:
df_10rows

   1010     Simran Kaur  2023-01-11   Marketing
0  1011    Rajesh Mehta  2021-09-01       Sales
1  1012   Deepika Desai  2020-06-10  Operations
2  1013  Shivani Sharma  2022-09-13          HR
3  1014     Harish Nair  2023-04-01     Finance
4  1015     Komal Yadav  2021-11-23          IT
5  1016      Ajay Bhatt  2020-04-25   Marketing
6  1017     Pooja Malik  2022-02-28       Sales
7  1018    Raghav Joshi  2021-06-14  Operations
8  1019      Meera Nair  2020-09-17          HR
9  1020     Krishna Rao  2023-10-02     Finance

In [72]:
df = pd.read_csv('emp.csv')

In [76]:
# read the 10 to 20th row in the existing dataframe
df_next10rows = df.iloc[10:20]

In [75]:
df_next10rows

     eno           ename         doj    deptname
10  1011    Rajesh Mehta  2021-09-01       Sales
11  1012   Deepika Desai  2020-06-10  Operations
12  1013  Shivani Sharma  2022-09-13          HR
13  1014     Harish Nair  2023-04-01     Finance
14  1015     Komal Yadav  2021-11-23          IT
15  1016      Ajay Bhatt  2020-04-25   Marketing
16  1017     Pooja Malik  2022-02-28       Sales
17  1018    Raghav Joshi  2021-06-14  Operations
18  1019      Meera Nair  2020-09-17          HR
19  1020     Krishna Rao  2023-10-02     Finance

In [80]:
#  need eno and doj columns from row # 10 to 15 from the exisitng dataframe
df[['eno','doj']].iloc[10:15]

     eno         doj
10  1011  2021-09-01
11  1012  2020-06-10
12  1013  2022-09-13
13  1014  2023-04-01
14  1015  2021-11-23

In [83]:
# data types of the a single colum is called series in pandas
type(df['eno'])

pandas.core.series.Series

In [86]:
# data types of the a multiple colum is called dataframe in pandas
cols = ['eno','ename']
type(df[cols])

pandas.core.frame.DataFrame

In [88]:
cols = []
type(df[cols])

pandas.core.frame.DataFrame

In [99]:
df_before_date_parse= pd.read_csv('emp.csv')

In [100]:
df_before_date_parse

     eno               ename         doj    deptname
0   1001        Arjun Sharma  2022-01-15          HR
1   1002         Priya Patel  2023-03-22     Finance
2   1003          Ravi Kumar  2021-05-10          IT
3   1004         Sneha Gupta  2020-08-25   Marketing
4   1005          Anil Reddy  2024-02-13       Sales
5   1006          Neha Verma  2019-11-30  Operations
6   1007         Vijay Singh  2022-07-08          HR
7   1008         Ananya Iyer  2021-03-15     Finance
8   1009        Manish Joshi  2020-12-19          IT
9   1010         Simran Kaur  2023-01-11   Marketing
10  1011        Rajesh Mehta  2021-09-01       Sales
11  1012       Deepika Desai  2020-06-10  Operations
12  1013      Shivani Sharma  2022-09-13          HR
13  1014         Harish Nair  2023-04-01     Finance
14  1015         Komal Yadav  2021-11-23          IT
15  1016          Ajay Bhatt  2020-04-25   Marketing
16  1017         Pooja Malik  2022-02-28       Sales
17  1018        Raghav Joshi  2021-06-14  Operations
18  1019          Meera Nair  2020-09-17          HR
19  1020         Krishna Rao  2023-10-02     Finance
20  1021      Prakash Pillai  2022-12-11          HR
21  1022  Aishwarya Deshmukh  2021-07-25     Finance
22  1023          Vikas Soni  2020-11-15          IT
23  1024          Ritu Mehra  2023-05-20   Marketing
24  1025       Nitin Chauhan  2020-03-30       Sales
25  1026        Swati Kapoor  2021-10-05  Operations
26  1027       Harshit Kumar  2022-08-16          HR
27  1028       Kanika Thakur  2020-01-10     Finance
28  1029      Arvind Agarwal  2023-02-18          IT
29  1030         Divya Singh  2021-04-22   Marketing
30  1031        Akash Prasad  2020-06-05       Sales
31  1032          Geeta Rani  2022-09-07  Operations
32  1033         Suresh Jain  2021-12-01          HR
33  1034          Sonal Shah  2023-08-13     Finance
34  1035       Jayesh Bansal  2020-02-15          IT
35  1036        Shweta Yadav  2021-06-03   Marketing
36  1037      Rajendra Joshi  2023-11-19       Sales
37  1038        Kavita Mehta  2020-07-25  Operations
38  1039          Ajit Reddy  2022-04-18          HR
39  1040     Pratibha Sharma  2021-09-05     Finance
40  1041     Subodh Tripathi  2020-05-14          IT
41  1042        Sunita Gupta  2023-03-09   Marketing
42  1043        Arvind Kumar  2021-08-22       Sales
43  1044      Neeraj Agarwal  2020-02-19  Operations
44  1045        Pankaj Joshi  2022-06-10          HR
45  1046          Suman Iyer  2023-04-28     Finance
46  1047         Sunil Verma  2020-09-14          IT
47  1048       Meenal Pandey  2021-07-03   Marketing
48  1049          Manju Nair  2022-11-17       Sales
49  1050       Sandeep Yadav  2021-10-12  Operations

In [101]:
# convert the date columns to date format ( by default Pandas read them as an object only ( string equivalent))
df_after_date_parse= pd.read_csv('emp.csv',parse_dates=['doj'])

In [109]:
df_after_date_parse['doj'].dt.weekday

0     5
1     2
2     0
3     1
4     1
5     5
6     4
7     0
8     5
9     2
10    2
11    2
12    1
13    5
14    1
15    5
16    0
17    0
18    3
19    0
20    6
21    6
22    6
23    5
24    0
25    1
26    1
27    4
28    5
29    3
30    4
31    2
32    2
33    6
34    5
35    3
36    6
37    5
38    0
39    6
40    3
41    3
42    6
43    2
44    4
45    4
46    0
47    5
48    3
49    1
Name: doj, dtype: int32

In [103]:
df['doj'].dt.

0    2022-01-15
1    2023-03-22
2    2021-05-10
3    2020-08-25
4    2024-02-13
5    2019-11-30
6    2022-07-08
7    2021-03-15
8    2020-12-19
9    2023-01-11
10   2021-09-01
11   2020-06-10
12   2022-09-13
13   2023-04-01
14   2021-11-23
15   2020-04-25
16   2022-02-28
17   2021-06-14
18   2020-09-17
19   2023-10-02
20   2022-12-11
21   2021-07-25
22   2020-11-15
23   2023-05-20
24   2020-03-30
25   2021-10-05
26   2022-08-16
27   2020-01-10
28   2023-02-18
29   2021-04-22
30   2020-06-05
31   2022-09-07
32   2021-12-01
33   2023-08-13
34   2020-02-15
35   2021-06-03
36   2023-11-19
37   2020-07-25
38   2022-04-18
39   2021-09-05
40   2020-05-14
41   2023-03-09
42   2021-08-22
43   2020-02-19
44   2022-06-10
45   2023-04-28
46   2020-09-14
47   2021-07-03
48   2022-11-17
49   2021-10-12
Name: doj, dtype: datetime64[ns]

In [110]:
df

     eno               ename        doj    deptname
0   1001        Arjun Sharma 2022-01-15          HR
1   1002         Priya Patel 2023-03-22     Finance
2   1003          Ravi Kumar 2021-05-10          IT
3   1004         Sneha Gupta 2020-08-25   Marketing
4   1005          Anil Reddy 2024-02-13       Sales
5   1006          Neha Verma 2019-11-30  Operations
6   1007         Vijay Singh 2022-07-08          HR
7   1008         Ananya Iyer 2021-03-15     Finance
8   1009        Manish Joshi 2020-12-19          IT
9   1010         Simran Kaur 2023-01-11   Marketing
10  1011        Rajesh Mehta 2021-09-01       Sales
11  1012       Deepika Desai 2020-06-10  Operations
12  1013      Shivani Sharma 2022-09-13          HR
13  1014         Harish Nair 2023-04-01     Finance
14  1015         Komal Yadav 2021-11-23          IT
15  1016          Ajay Bhatt 2020-04-25   Marketing
16  1017         Pooja Malik 2022-02-28       Sales
17  1018        Raghav Joshi 2021-06-14  Operations
18  1019          Meera Nair 2020-09-17          HR
19  1020         Krishna Rao 2023-10-02     Finance
20  1021      Prakash Pillai 2022-12-11          HR
21  1022  Aishwarya Deshmukh 2021-07-25     Finance
22  1023          Vikas Soni 2020-11-15          IT
23  1024          Ritu Mehra 2023-05-20   Marketing
24  1025       Nitin Chauhan 2020-03-30       Sales
25  1026        Swati Kapoor 2021-10-05  Operations
26  1027       Harshit Kumar 2022-08-16          HR
27  1028       Kanika Thakur 2020-01-10     Finance
28  1029      Arvind Agarwal 2023-02-18          IT
29  1030         Divya Singh 2021-04-22   Marketing
30  1031        Akash Prasad 2020-06-05       Sales
31  1032          Geeta Rani 2022-09-07  Operations
32  1033         Suresh Jain 2021-12-01          HR
33  1034          Sonal Shah 2023-08-13     Finance
34  1035       Jayesh Bansal 2020-02-15          IT
35  1036        Shweta Yadav 2021-06-03   Marketing
36  1037      Rajendra Joshi 2023-11-19       Sales
37  1038        Kavita Mehta 2020-07-25  Operations
38  1039          Ajit Reddy 2022-04-18          HR
39  1040     Pratibha Sharma 2021-09-05     Finance
40  1041     Subodh Tripathi 2020-05-14          IT
41  1042        Sunita Gupta 2023-03-09   Marketing
42  1043        Arvind Kumar 2021-08-22       Sales
43  1044      Neeraj Agarwal 2020-02-19  Operations
44  1045        Pankaj Joshi 2022-06-10          HR
45  1046          Suman Iyer 2023-04-28     Finance
46  1047         Sunil Verma 2020-09-14          IT
47  1048       Meenal Pandey 2021-07-03   Marketing
48  1049          Manju Nair 2022-11-17       Sales
49  1050       Sandeep Yadav 2021-10-12  Operations

In [111]:
# read the huge file in one go ( by default low_memory is set to True)
df= pd.read_csv('emp.csv',parse_dates=['doj'],low_memory=False)

In [112]:
df

     eno               ename        doj    deptname
0   1001        Arjun Sharma 2022-01-15          HR
1   1002         Priya Patel 2023-03-22     Finance
2   1003          Ravi Kumar 2021-05-10          IT
3   1004         Sneha Gupta 2020-08-25   Marketing
4   1005          Anil Reddy 2024-02-13       Sales
5   1006          Neha Verma 2019-11-30  Operations
6   1007         Vijay Singh 2022-07-08          HR
7   1008         Ananya Iyer 2021-03-15     Finance
8   1009        Manish Joshi 2020-12-19          IT
9   1010         Simran Kaur 2023-01-11   Marketing
10  1011        Rajesh Mehta 2021-09-01       Sales
11  1012       Deepika Desai 2020-06-10  Operations
12  1013      Shivani Sharma 2022-09-13          HR
13  1014         Harish Nair 2023-04-01     Finance
14  1015         Komal Yadav 2021-11-23          IT
15  1016          Ajay Bhatt 2020-04-25   Marketing
16  1017         Pooja Malik 2022-02-28       Sales
17  1018        Raghav Joshi 2021-06-14  Operations
18  1019          Meera Nair 2020-09-17          HR
19  1020         Krishna Rao 2023-10-02     Finance
20  1021      Prakash Pillai 2022-12-11          HR
21  1022  Aishwarya Deshmukh 2021-07-25     Finance
22  1023          Vikas Soni 2020-11-15          IT
23  1024          Ritu Mehra 2023-05-20   Marketing
24  1025       Nitin Chauhan 2020-03-30       Sales
25  1026        Swati Kapoor 2021-10-05  Operations
26  1027       Harshit Kumar 2022-08-16          HR
27  1028       Kanika Thakur 2020-01-10     Finance
28  1029      Arvind Agarwal 2023-02-18          IT
29  1030         Divya Singh 2021-04-22   Marketing
30  1031        Akash Prasad 2020-06-05       Sales
31  1032          Geeta Rani 2022-09-07  Operations
32  1033         Suresh Jain 2021-12-01          HR
33  1034          Sonal Shah 2023-08-13     Finance
34  1035       Jayesh Bansal 2020-02-15          IT
35  1036        Shweta Yadav 2021-06-03   Marketing
36  1037      Rajendra Joshi 2023-11-19       Sales
37  1038        Kavita Mehta 2020-07-25  Operations
38  1039          Ajit Reddy 2022-04-18          HR
39  1040     Pratibha Sharma 2021-09-05     Finance
40  1041     Subodh Tripathi 2020-05-14          IT
41  1042        Sunita Gupta 2023-03-09   Marketing
42  1043        Arvind Kumar 2021-08-22       Sales
43  1044      Neeraj Agarwal 2020-02-19  Operations
44  1045        Pankaj Joshi 2022-06-10          HR
45  1046          Suman Iyer 2023-04-28     Finance
46  1047         Sunil Verma 2020-09-14          IT
47  1048       Meenal Pandey 2021-07-03   Marketing
48  1049          Manju Nair 2022-11-17       Sales
49  1050       Sandeep Yadav 2021-10-12  Operations

In [113]:
# how to convert the dictionary data in to dataframe

emp = {"eno":1,"ename":"Santosh"}

In [ ]:
pd.data